@import "../../Styles/helpers/main.scss";

.about-body {
  @include main;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75vh;

}


