@import "../../Styles/helpers/main.scss";

.about-body {
  @include main;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75vh;

}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;

  svg {
    @media screen and (min-width: 900px) {
      display: none;
    }
  }
}