@import "../../Styles/Variables/Variables.scss";

.hidden {
  display: none;
}

.navbar {
  width: 180px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;

  a {
    padding-left: 25px;
    margin-top: 45px;
    color: $whiteColor;
    text-decoration: none;
    color: scale-color($whiteColor, $lightness: -20%);
    &:hover {
      color: $whiteColor;
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    li {
      // display: flex;
      // justify-content: flex-start;
      // align-items: center;
      height: 60px;
      padding: 0;

      a {
        display: flex;
        align-items: center;
        color: scale-color($whiteColor, $lightness: -10%);
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        font-family: $titleFont;
        margin: 0;
        padding: 0;

        h3 {
          padding-left: 10px;

          @media screen and (max-width: 900px) {
            display: none;
          }
        }

        svg {
          padding-left: 25px;

          @media screen and (min-width: 900px) {
            display: none;
          }
        }

        &:hover {
          color: $whiteColor;
          text-decoration: none;
        }
      }

      .active {
        color: scale-color($whiteColor, $lightness: -30%);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    width: 50px;

    a {
      padding-left: 25px;
    }
  }
}
