@import "../../Styles/Variables/Variables.scss";

.hidden {
  display: none;
}

.navbar {
  width: 100%;
  height: 80px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;

  ul {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    direction: row;

    li {
      list-style: none;

      a {
        color: scale-color($whiteColor, $lightness: -10%);
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        font-family: $titleFont;
        padding: 20px;

        &:hover {
          color: $whiteColor;
          text-decoration: none;
        }
      }

      .active {
        color: scale-color($whiteColor, $lightness: -30%);
      }
    }
  }
}
