@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
  margin: 0;
  padding: 0;
  background-color: #272832;
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-full-grow {
  min-height: 100vh;
  display:flex;
}

body div {
  display:flex;
  flex-direction: row;
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
